@font-face {
    font-family: 'CaviarDreams';
    src: url('CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
}
.caviar{
    background: linear-gradient(1deg,#ff46a2, #f8cfff);
    font-family: 'CaviarDreams';
    text-align: center;
}

button.cbut{
    font-family: "caviarDreams";
    width: 100px;
    height: 100px;
    background: radial-gradient(center, )
    border-width: 0px;
    border-radius: 50%;
    font-size: larger;
}
button.cbut:hover{
    background-color: rgb(127, 128, 204);
    transition: .11s;
    cursor: pointer;
    width: 130px;
    height: 130px;
}

input{
    background-color: rgb(238, 176, 255);
    border-radius: 10px;
}