@font-face {
    font-family: 'CaviarDreams';
    src: url('CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
}
.caviar{
    background: linear-gradient(1deg,#ff46a2, #f8cfff);
    font-family: 'CaviarDreams';
    text-align: center;
}

button.cbut{
    font-family: "caviarDreams";
    width: 100px;
    height: 100px;
    background: radial-gradient(white,rgb(136, 136, 255));
    border-width: 0px;
    border-radius: 50%;
    font-size: x-large;
}

button.cbutstat{
    font-family: "caviarDreams";
    width: 75%;
    height: 75%;
    background: white;
    border-width: 0px;
    border-radius: 5%;
    font-size: x-large;
    margin-top:10%;
}

button.cbut:hover{
    background-color: rgb(127, 128, 204);
    transition: .11s;
    cursor: pointer;
    width: 130px;
    height: 130px;
    font-size:200%;
}

input{
    background-color: rgb(238, 176, 255);
    border-radius: 10px;
}