@font-face {
    font-family: 'CaviarDreams';
    src: url('CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
}
.caviar{
    background: linear-gradient(1deg,#ff46a2, #f8cfff);
    font-family: 'CaviarDreams';
    text-align: center;
}

.cbut{
    font-family: "caviarDreams";
    width: 100px;
    height: 100px;
    background-color: rgb(160, 161, 255);
    border-width: 0px;
    border-radius: 50%;
}
.cbut:hover{
    background-color: rgb(127, 128, 204);
}

input{
    background-color: rgb(238, 176, 255);
    border-radius: 10px;
}