@font-face {
        font-family: 'CaviarDreams';
        src: url('CaviarDreams_Bold.ttf') format('truetype');
        font-weight: bold;
}
.box{
        width: 200px;
        height: 100px;
        background-color: rgb(151, 222, 241);
        border: 2px solid rgb(0, 0, 5);
        padding: 10px;
        margin: 10px;
}

input {
        width: 100%;
      }

body{
        background-color: rgb(235, 175, 207) ;
    
    }